.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
agent/output/
temp/
temp.yaml
bin
vendor
deep-observe-manager
README.MD
README.md
upload
